/* Calculate size of elements in page and add padding, margin to border box default */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
}
/* Set the min-height of the body content, style of display, and background color of the page */
body {
    min-height:100vh;
    display:table;
    background-color: #d9dcd6;
}
/* Set padding around header elements, font-family for the header, and background color. */
header {
    padding: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}
/* Set nav to flex and center, with space between elements. */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Set the logo header size to 3 times the rem(viewport width) and give it a slight left
margin to bring logo into better view. Set font size to 3 times the hmtl elements size*/
h1 {
    margin-left: 2vw;
    font-size: 3rem;
}
/* Set the logo letters "seo" to a slightly different shade for graphical effect. Inherit
font size so it doesnt look odd against the rest of the logo*/
h1 > span {
    color: #d9dcd6;
    font-size: inherit;
}
/* Make sure the items inherit flex mode, and set the justify and align so that its centered with space in between elements.
Set justify-content to center it, and make the list-style none so that bullet-points don't appear, then add
a small margin to bring the nav-list into better view */
nav ul {
    display: inherit;
    flex-direction: row;
    justify-self: center;
    align-self: space-between;
    list-style-type: none;
    margin-right: 2vw;

}
/* Add a small margin to the left to space out the items evenly. Set the list items' link font size */
nav ul > li {
    margin-left: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Remove any decoration on link text, like underlines, etc. and set the font size to 1.2x the html element. Bold it a bit with font-weight set at 500 */
nav a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}
/* Add background image and properties, setting height to 60 percent of the viewport width, with a max height of 800px, adding a small margin at the bottom for a bit of space between itself and the main content. Setting background position to top ensures it does not get covered by the header */
#background {
    height: 60vw;
    max-height: 825px;
    margin-bottom: 2%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: top;
}
/* Set flex on the entire "main" section, which contains all of the main content of the page. add a small margin to the left and right of the page to indent elements */
main{
    display: flex;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
/* Set the width of the content section to 80% of the page, and give a small space between content and benefits sections */
#content {
    width:80%;
    margin-right: 1.5%;
}
/* Set the height of the content subsection to 15% the width of the page, and set flex properties on it. Add a margin to the bottom to space out the section backgrounds, and a bit of padding all around.*/
.content-subsection {
    height: 20vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
    padding: 5%;
    background-color: #0072bb;
}
/* Set all content besides image to inherit flex and set properties to run in an evenly spaced stretched column */
.content-subsection > section {
    display: inherit;
    flex-direction: column;    
}
/* Set all content images to a max width of 45 percent of the parent container, set it not to grow any further than initial size, allow it to shrink, and set padding on the right to 3% of the page's width. */
.content-subsection img {
    max-width: 45em;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 0 3vw 0 0;
}
/* Set the middle content section to reverse flex direction */
#online-rep-mgmt {
    flex-direction: row-reverse;
}
/* Add a bit of padding around the second section's image on the right side equal to 3% of the viewport's width*/
#online-rep-mgmt img{ 
     padding: 0 0 0 3vw;
}
/* Set header size to scale to 2.2x the html element's width, bold it a bit, and set the padding on the bottom to scale to 1% of the page's width */
h2 {
    font-size: 2.2rem;
    font-weight: 900;
    padding-bottom: 1vw;
}


aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    width: 20%;

    background-color: #2589bd;
}

.benefit-subsection {
    height: 25vw;
    display: inherit;
    flex-direction: column;
}

.benefit-subsection h3 {
    text-align: center;
    font-size: 1.2em;
}

.benefit-subsection img {
    display: block;
    margin:  0 auto; 
    height:60%;
}

p {
    font-size:.8rem;
}

footer {
    margin-top: 75px;
    clear: both;
    text-align: center;
}

h4 {
    font-size: 1rem;
}




