/* Calculate size of elements in page and add padding, margin to border box default */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
}
/* Set the background color of the page */
body {
    min-height:100vh;
    display:table;
    background-color: #d9dcd6;
}
/* Set header elements to flex and justify the content to space-around, 
so that they shrink with the page and have a bit of even space all around.
Also set wrap to make sure when the page is small enough that the navlinks
wrap under the logo. Additionally, set the vertical alignment of all contained
elements to the center. */
header {
    padding: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Set the logo header size to 3 times the rem(viewport width)*/
h1 {
    margin-left: 2vw;
    font-size: 3rem;
}
/* Set the logo letters "seo" to a slightly different shade for graphical effect. */
h1 > span {
    color: #d9dcd6;
    font-size: inherit;
}
/* Make sure the items display in flex mode, so they dont wrap by default. Set justify-content to center it, and make the list-style none so that bullet-points don't appear */
nav ul {
    display: inherit;
    justify-self: center;
    align-self: space-between;
    list-style-type: none;
    padding-right: 2vw;

}
/* Add a small margin to the left to space out the items evenly. Set the list items' link font size */
nav ul > li {
    margin-left: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Remove any decoration on link text, like underlines, etc. */
nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    
}
/* Add background image and properties, setting fixed height and keeping width to the full width of the page, adding a small margin at the bottom for a bit of space between itself and the main content. */
#background {
    height: 60vw;
    max-height: 800px;
    margin-bottom: 2%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: top;
}

main{
    display: flex;
}


#content {
    width:70%;
    margin-left: 2%;
    margin-right: 2%;
}



.content-subsection {
    height: 20vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    padding: 5%;
    background-color: #0072bb;

}

.content-subsection h2 {
    font-size: 2.2rem;
    line-height: 93%;
}

.content-subsection img {
    max-width: 45%;
    flex-shrink: 1;
    flex-grow: 0;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    width: 30%;
    margin-right:2%;
    background-color: #2589bd;
}

.benefit-subsection {
    height: 25vw;
    display: inherit;
    flex-direction: column;
}

.benefit-subsection h3 {
    text-align: center;
    font-size: 1.2em;
}

.benefit-subsection img {
    display: block;
    margin:  0 auto; 
    width:20vw;
    max-width: 100px;
}
.benefit-subsection p {
    font-size:0.8rem;
}

footer {
    display:table-footer-group;
    padding: 30px;
    clear: both;
    text-align: center;
}

h4 {
    font-size: 22px;
}

.small-margin{ 
    margin-left:2%; 
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

@media screen and (min-width: 1080px) {
    nav ul > li{
        font-size: 22;
    }
}
